/*--------------------------------
SECTION PIE DE PAGINA
--------------------------------*/

.piedepagina {
    background: #111111;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}

.piedepagina .redes-sociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.piedepagina .redes-sociales a {
    color: #fff;
    font-size: 2rem;
    margin: 0 0.5rem;
    opacity: 0.7;
}

.piedepagina .redes-sociales a:hover {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #4D59A8;
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
}