/*------------------
  Header section
---------------------*/

.encabezado {
    padding-top: 0.5rem;
}

.encabezado .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-warp {
    display: table;
    width: 100%;
    min-height: 83px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.site-logo {
    display: table-cell;
    width: 241px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    vertical-align: middle;
}

.site-logo h2 {
    padding: 25px 0;
    color: #fff;
}

.site-logo h2 span {
    color: #ffc515;
}

.nav-switch {
    display: none;
}

.main-menu {
    display: table-cell;
    text-align: right;
    padding-right: 290px;
    vertical-align: middle;
}

.main-menu li {
    display: inline;
}

.main-menu li a {
    display: inline-block;
    margin-left: 50px;
    color: #fff;
    padding: 10px 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #ffc515;
}

.header-right {
    display: table-cell;
    width: 383px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    vertical-align: middle;
}

.header-right p {
    margin-bottom: 0;
    line-height: normal;
    color: #fff;
}

.header-right p span {
    color: #ffc515;
}

a.melp-font {
    color: #ffc107;
}