<div *ngIf="onerestaurant" class="jumbotron animated fadeIn">
    <h1 class="display-4 animated fadeIn fast">{{ onerestaurant.name }}</h1>
    <p class="lead"> {{ onerestaurant.contact.email }} - {{ onerestaurant.contact.phone }}</p>
    <hr class="my-4">
    <p>{{ onerestaurant.contact.site }}</p>
    <a class="btn btn-warning btn-lg" href="#" role="button">Visit</a>
    <button class="btn btn-outline-primary">Facebook</button>
    <a [routerLink]="['restaurants']" class="btn btn-outline-link float-right">Back</a>
</div>